@charset "utf-8";table{width:100%;border-collapse:collapse;line-height:27px;}
table td{padding:1px;vertical-align:middle;padding-left:5px;padding-right:5px;vertical-align:middle;}
a{text-decoration:none !important;color:#3b3b3b;}
a:hover{color:#0081CB;}
img{border:0;max-width:100%;}
ul{margin:0;padding:0;list-style:none;}
.clearb{clear:both;}
p{margin:0;padding:0;}
@font-face{font-family:'Roboto Condensed';src:url('fonts/RobotoCondensed-Regular.eot');src:local('?'), url('fonts/RobotoCondensed-Regular.woff') format('woff'), url('fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('fonts/RobotoCondensed-Regular.svg') format('svg');font-weight:normal;font-style:normal;}
.img_view_main{position:relative}
.wp_img{position:absolute;top:0px;width:100%;height:100%;background:rgba(72, 64, 64, 0.18);text-align:center;line-height:100%;font-size:21px;font-weight:normal;color:#fff;transform:scale(0);transition:all 0.5s;}
.img_view_main1:hover .wp_img{transform:scale(1)}
.img_view_main2:hover .wp_img{transform:scale(1);border-radius:100%}
.wp_img i{font-size:30px;position:absolute;top:46%;}
.img_view_main3{position:relative;display:block}
.img_view_main3:hover .wp_img{transform:scale(1)}
.img_camera{margin-bottom:10px}
.block_yahoo{background:url(../images/bg_yhaoo.png);background-size:100% 100%;padding:10px;float:left;text-align:center;padding-bottom:24px;}
.block_yahoo img{width:100px;height:100px;border-radius:100%;margin:0px auto;margin-bottom:10px;margin-top:16px;}
.block_yahoo strong{display:block;}
.block_yahoo p{}
.btn_muahang{display:none}
.padding0{padding:0px;}
.padding5{padding:0px 5px;}
.padding0_15{padding:0px;padding-right:15px;}
.padding10_0{padding-left:10px;padding-right:0px;}
.floatL{float:left;}
.floatR{float:right;}
.marginL-15{margin-left:15px;}
.marginR-15{margin-right:15px;}
body{margin:0;font-size:14px;line-height:1.5em;color:#494949;font-family:Arial;margin:0px auto;}
.block-full-page{padding:0px;margin-top:15px;box-shadow:1px 3px 3px rgba(0, 0, 0, 0.31);margin-bottom:15px;}
#menu{height:0px;opacity:0;}
.btn_m i{font-size:20px;color:#fff;margin-left:7px;margin-top:2px;}
.btn_m{width:34px;height:29px;position:fixed;top:3px;left:3px;background-color:#C59428;z-index:99;}
#header{background:#EEE;position:relative;}
#header .container{position:relative;background:none;}
.logo-top{float:left;margin-right:20px;}
.btn_menu{float:left;margin-top:6px;margin-right:13px;cursor:pointer;}
.btn_menu i{color:#fff;font-size:24px;}
.menu-fix{position:fixed !important;z-index:999;top:0px}
.menu_m{display:none}
.top-menu{width:100%;float:left;background:#fff;position:relative;}
.top-menu >div{float:left;}
.top-menu div >ul{float:left;}
.item_number_about{margin:20px 0px;float:LEFT;display:block;}
.item_number_about .number{font-weight:bold;width:100%;display:block;text-align:center;font-size:60px;color:#c59527;line-height:60px;}
.item_number_about .name_num{display:block;width:100%;text-align:center;float:left;font-size:20px;color:#bdbdbd;font-weight:normal;line-height:20px;}
.thongke{background:#2376A4;padding:10px 10px;float:left;width:100%;border-radius:0px 15px;border:1px solid #1b5b7f;}
.thongke h3{margin:0px;font-size:14px;text-align:center;color:#fffc00;font-weight:bold;text-transform:uppercase;}
.list-counter{width:100%;display:block;float:left;margin:10px 3px;}
.list-counter li{margin-bottom:3px;}
.list-counter li strong{font-weight:normal}
.list-counter li img{margin-right:10px;}
.list_tuvan{padding:10px 0px;}
.list_tuvan li{background:url(../images/arow_tuvan.png) 0px 5px no-repeat;padding-left:15px;}
.block_slider_fix{width:100%;height:100%;position:fixed;}
.block-slider{padding-bottom:14px;margin-bottom:10px;margin-top:1px;position:relative;}
.section{position:relative}
.title_about{font-weight:bold;margin-top:4px;font-size:20px;}
.btn_video i{width:40px;height:40px;text-align:center;line-height:39px;border-radius:100%;border:1px solid;font-size:18px;position:absolute;background:#fff;left:-1px;top:-4px;}
.btn_video a{color:#D49F0B;font-size:12px;}
.btn_video{background:#fff;position:absolute;position:absolute;right:2%;bottom:91px;padding:6px 27px;border-radius:15px;text-transform:uppercase;font-weight:bold;color:#D49F0B;padding-left:42px;}
.form_register .container{position:relative}
.form_register{position:relative;top:0px;z-index:999;width:100%;}
.block_form_register{background:#fff;padding:0px;}
.title_register-top{margin:0px;float:left;width:100%;font-size:22px;text-transform:uppercase;padding:24px 15px;text-align:center;line-height:26px;font-weight:bold;}
.block_logo{float:left;width:100%;background:#EEE;text-align:center;}
.caption-hddien{display:none}
.block_registe_email{padding:0px 16px;}
.block_registe_email input{width:100%;padding:10px;margin-bottom:11px;background:#e0e3ef;border:none;text-align:center;text-transform:uppercase;}
.img_view_main{}
.img_view_main img{margin:10px 0px}
.block_registe_email button{background:#f5b836;width:100%;padding:14px 10px;border:none;margin-bottom:20px;text-transform:uppercase;color:#fff;font-weight:bold;font-size:19px;}
.title_slider{color:#f5b836 !important}
::-webkit-input-placeholder{color:#999;}
:-moz-placeholder{color:#999;opacity:1;}
::-moz-placeholder{color:#999;opacity:1;}
:-ms-input-placeholder{color:#999;}
.block_news_index{background:#f7f8fa;padding-top:50px}
.block_news_index .img-news{background:#fff;border:none!important}
.block_about_index{background:rgba(8, 8, 8, 0.58);min-height:100px;color:#fff;padding:20px 0px;padding-top:50px}
.title_about_index{text-align:center;color:#f4b735;text-transform:uppercase;margin-top:0px;background:url(../images/bg_title_about1.png) bottom center no-repeat;padding-bottom:26px;font-size:20px;font-weight:bold}
.block-holine{position:absolute;right:10px;color:#533f1a;bottom:42px;font-size:24px;font-weight:normal;}
.block-search{position:absolute;bottom:10px;z-index:99999;right:20px;display:none;}
.block-search input{width:240px;border:1px solid #fdd0ab;padding:4px 5px;padding-right:45px;background:#D98C4C;outline:none;}
.block-search button{background:url(../images/iconsearch.png) center center no-repeat;width:24px;height:22px;border:none;position:absolute;right:10px;top:3px;outline:none;}
.section .main-content{width:100%;}
.section1{margin-top:15px}
.item_register{padding:0px 32px;text-align:center;}
.content_item{background:#fff;color:#000;padding-bottom:10px;}
.content_item .content_header{float:left;width:100%;background:#b19e67;padding:8px 8px;color:#fff;}
.content_item .content_header h3{margin-top:6px;margin-bottom:2px;}
.content_item .content_header span{font-size:12px;}
.content_item .name_phong{background:#f28237;display:block;font-size:36px;color:#fff;float:left;width:100%;padding:24px 0px;}
.list_item_re_info{float:left;width:100%;padding:0px 15px;}
.list_item_re_info li{border-bottom:1px dashed #ccc;padding:10px 0px;}
.list_item_re_info li span{}
.list_item_re_info li:last-child{border:none}
.content_item >span{display:block;padding:10px;float:left;}
.content_item .btn_view_more2{background:#b19e67;padding:5px 10px;display:block;max-width:120px;margin:0px auto;color:#fff;border-radius:3px;text-transform:uppercase;}
.title_index{width:100%;text-align:center;padding:13px 0px;margin-top:0px;}
.title_index span{font-size:36px;font-family:'Roboto Condensed';font-weight:normal;}
.title_index strong{color:#2886bb}
.content_index{padding:0px;border-bottom:1px solid #ccc;padding-bottom:20px;margin-bottom:14px;}
.block_index{}
.block_index h3.title_about{color:#00903d;font-weight:normal;font-size:24px;}
.list_about{}
.list_about li{margin-bottom:11px;}
.list_about li h3{font-size:14px;font-weight:bold;text-transform:uppercase;margin:0px;}
.list_about li a{}
.list_about li img{float:left;margin-right:10px;}
.block_slider_about{min-height:200px;margin:98px auto;width:100%;max-width:1026px;margin-bottom:173px;padding:0px 32px;}
.item_photo_tienich{margin-top:15px;}
.item_photo_tienich img{}
.item_photo_tienich h2{float:left;width:100%;font-size:15px;text-align:center;color:#fff;margin:12px 0px;text-transform:uppercase;}
.block-slider-main{}
.block-quangcao-item{margin-top:10px;}
.block-quangcao-top{background:#F2F3E5;padding:15px 0px;font-size:13px;}
.block-quangcao-top h3{font-size:18px;margin:0px;font-weight:bold;color:#343434;margin-bottom:5px;}
.block-quangcao-top span{}
.block-quangcao-top img-qc{}
.block-quangcao-top img-qc img{}
.block_bg_white{background:#fff;padding:10px 0px;padding-top:50px}
.img_vitri{padding-left:0px}
.title_vitri{text-align:center;margin:0px;margin-bottom:12px; background:url(../images/bg_title_gallery.png) bottom center no-repeat; padding-bottom:15px;}
.title_vitri span{ font-size:24px;text-transform:uppercase;padding-bottom:4px;color:#f4b735;}
#owl-demo-doitac item{margin:5px}
.top-menu div >ul>li:hover{}
.top-menu div >ul>li:hover> ul{display:block;}
.top-menu div >ul>li:hover{}
.top-menu div >ul>li:hover >a{color:#fff;}
.top-menu div >ul>li{display:inline-block;float:LEFT;position:relative;transition:all 0.5s;}
.top-menu div >ul>li:before{width:100%;position:absolute;height:10px;background:#00BBD3;transition:all 0.5s;opacity:0;}
.top-menu div >ul>li:hover:before{opacity:1;}
.top-menu div >ul>li:last-child{border:none;}
.top-menu div >ul>li>a{font-size:14px;color:#323232!important;padding:10px 28px;display:block;float:left;text-transform:uppercase;font-family:arial;font-weight:bold;}
.top-menu div >ul>li:hover{}
.top-menu div >ul>li >ul{position:absolute;top:41px;background:#b88617;width:254px;z-index:999;display:none;transition:all 0.5s;left:0px;}
.top-menu div >ul>li ul li{padding:7px 5px;border-bottom:1px solid #ECAE1E;position:relative;transition:all 0.5s;}
.top-menu div >ul>li ul li:hover{background:#DC9E0E;}
.top-menu div >ul>li ul li:hover a{color:#fff;}
.top-menu div >ul>li ul li a{color:#fff;display:block;font-size:14px;}
.menu_in{background:#022d64;}
.menu_in >div >ul{padding-left:0px !important}
.menu_in >div > ul>li{padding:0px 2px;}
.menu_in >div > ul>li:hover{background:#b88617;}
.menu_in >div > ul>li >a{color:#fff !important;font-size:14px;  padding:38px  18px}
.menu_in >div{float:initial}
.menu_in div >ul>li >ul{ top:96px}

.item-img-right{padding:3px}
.block-menu-left{padding-left:0px;padding-right:13px;}
.content-left{padding:0px;margin-bottom:15px;}
#kiemtrabaohanh{display:none;}
#kiemtrabaohanh h3{margin:0px;font-size:20px;background:#2886bb;margin-bottom:10px;padding:7px;color:#fff;}
#kiemtrabaohanh input{width:100%;border:1px solid #ccc;padding:5px;margin-bottom:10px;border-radius:3px;}
#kiemtrabaohanh button{background:#2886BB;border:none;color:#fff;text-transform:uppercase;padding:5px 10px;}
.content-left .title-left{color:#444;font-size:23px;padding:10px 9px;float:LEFT;width:100%;font-family:arial;padding-left:0px;border-bottom:1px solid #B78617;position:relative;margin-top:11px;font-weight:bold;}
.list-li-news-hot{float:LEFT;border:1px solid #2079c4;padding:10px;border-radius:0px 0px 8px 8px;width:100%;}
.list-li-news-hot li{border-bottom:1px solid #ccc;padding-bottom:9px;}
.list-li-news-hot li a h3{font-size:13px;color:#2A6607;font-weight:bold;margin:8px 0px;margin-bottom:2px;}
.list-li-news-hot li:last-child{border:none}
.nam-du-an-hot{text-align:center;font-size:14px;color:#3a78b7;margin-top:5px}
.fiter_select{float:right;border:1px solid #ccc;padding:5px 10px;background:#F7F7F7;border-radius:4px;margin-top:10px;outline:none;}
.content-right{padding:0px;padding-right:25px;}
#owl-demo-doitac .item{margin:0px 20px;}
#owl-demo-doitac .item img{width:100%;}
#owl-demo-doitac .item h2{text-align:center;font-size:22px;color:#636363;}
.title-right{float:left;width:100%;margin-top:10px;margin-bottom:5px;font-size:24px;font-weight:normal;color:#f00;padding-left:0px;text-transform:uppercase;text-align:center;}
.title-right span{padding:10px 0px;padding-right:0px;padding-top:10px;display:block;color:#444444;font-family:arial;font-size:24px;font-weight:bold;line-height:initial;background:url(../images/bg_title_gallery.png) bottom center no-repeat;padding-bottom:18px;}
.title-right ul{padding-left:20px;float:left;}
.title-right ul li{display:inline-block;padding:5px 18px;float:left;box-sizing:border-box;margin-top:11px;margin-right:5px;background:url(../images/bg_li_tab1.png) bottom center repeat-x;border:1px solid #ccc;border-radius:8px 8px 0px 0px;border-bottom:none;}
.title-right ul li a{}
.title-right ul li:hover ,.active-tab{background:url(../images/bg_li_tab.png) bottom center repeat-x !important;border-radius:6px 6px 0px 0px;}
.title-right ul li:hover a ,.active-tab a{color:#fff !important;}
.top-menu div >ul>li >ul >li:hover >ul{display:block;background:#022d64;}
.top-menu div >ul>li >ul >li>ul{display:none;position:absolute;width:250px;left:250px;top:0px}
.like-fb{margin-top:10px}
.content-boder{padding:0px;margin-bottom:10px;}
.container_contact{max-width:836px;margin:0px auto}
.desc_about{padding-right:0px}
.img-about{padding-right:15px}
.ul-dk-thanh-vien{float:left;width:100%;margin-top:11px;margin-left:9px;}
.ul-dk-thanh-vien .left{float:left;font-size:14px;width:205px;line-height:25px;}
.ul-dk-thanh-vien .left span{font-weight:bold;color:#f00}
.ul-dk-thanh-vien li{margin-bottom:15px;}
.ul-dk-thanh-vien .right >input{width:326px;line-height:25px;border-radius:5px;border:1px solid #ccc;padding:0px 5px;max-width:100%;padding:3px;}
.ul-dk-thanh-vien .right > select{border:1px solid #ccc;padding:5px;border-radius:3px;max-width:100%;width:326px;}
.frmthongtincahme{width:700px;float:left;max-width:100%;}
.frmthongtincahme .list_infoc{float:left;margin-left:0px}
.frmthongtincahme .list_infoc li{text-align:center;}
.frmthongtincahme .list_infoc li span{display:block;float:left;width:150px;}
.frmthongtincahme li input{display:block;float:left;width:225px;border:1px solid #ccc;border-radius:5px;line-height:22px;margin-bottom:5px;padding:3px;}
.frmthongtincahme .list_infom{margin-left:35px;float:left}
.frmthongtincahme .list_infom li{text-align:center;}
.btn-dang-ky{float:left;margin-left:180px;margin-top:23px;background:url(../images/bg_dangky.png) repeat-x;border:1px solid #C95E00;border-radius:5px;font-weight:bold;padding:5px 25px;text-transform:uppercase;}
.table_baohanh{border:1px solid #ccc;max-width:750px;margin-bottom:10px}
.block-dangkyemail{background:#0071bb;margin-top:10px;padding:15px 0px;color:#fff;}
.block-dangkyemail span{display:block;float:left;margin-right:10px;margin-top:8px;}
.block-dangkyemail input{float:left;border:1px solid #0071BB;padding:4px;margin-top:0px;min-width:246px;border-radius:3px 0px 0px 3px;color:#0071BB;}
.block-dangkyemail button{float:left;background:#0E96EF;border:none;padding:4px 8px;margin-left:0px;border-radius:0px 3px 3px 0px;cursor:pointer;}
.block-item{padding:7px;}
.block-item .content-item{position:relative;}
.block-view-social{padding:3px;font-size:14px;}
.block-view-social li:nth-child(1){width:48%;color:#01b22e;}
.block-view-social li{display:inline-block;color:#828384;padding:0px 5px;}
.block-view-social span{}
.block-view-social i{margin-right:5px;}
.block-view-social img{float:left;margin-right:6px;cursor:pointer;}
.list-video{width:100%;padding:5px;border:1px solid #ccc;}
.block-hotline{background:url(../images/bg_hotline.png) top left no-repeat;height:65px;padding-left:45px;position:relative}
.block-hotline span{position:absolute;display:block;top:22px;font-size:25px;font-weight:bold;color:#C40D0D;}
.list-products ,.content-suport{float:left;width:100%;}
.list-products li{padding:6px 0px;padding-left:33px;transition:all 0.5s;background:#f0f3f6 url(../images/arowleft.png) 10px center no-repeat;border-bottom:1px solid #ccc;}
.list-products li:last-child{border:none}
.list-products li:hover{padding-left:33px;background:#d5d7d9 url(../images/arowleft.png) 10px center no-repeat;}
.list-products a{color:#4BAE4F;font-size:14px;display:block;font-weight:bold;}
.content-suport span.phone{color:#f00;font-size:17px;font-weight:bold;}
.block-item .content-item >a>img{width:100%;}
.block-item .content-item h3{margin:0px;line-height:18px;padding:5px;overflow:hidden;font-size:12px;}
.block-item .content-item h3.name-video{color:#515151;font-size:16px;height:31px;margin-top:5px;text-align:center;font-weight:normal;width:100%;transition:all 0.5s;}
.block-item .content-item:hover h3.name-video{opacity:1;z-index:999;}
.btn_view_more{text-align:center;float:initial;background:#C49426;font-size:13px;cursor:pointer;float:left;display:block;max-width:146px;padding:8px 22px;color:#fff!important;margin-top:5px;text-transform:uppercase;transition:all 0.5s;}
.btnright_view_more{text-align:center;float:initial;background:#0182c3;font-size:13px;border-radius:5px;cursor:pointer;float:right;display:block;max-width:132px;padding:2px 10px;color:#fff !important;margin-top:5px;}
.btn_view_more1{text-align:center;float:initial;background:#c59527;font-size:13px;cursor:pointer;display:block;max-width:146px;padding:8px 22px;color:#fff!important;text-transform:uppercase;margin:0px auto;margin-top:14px;margin-bottom:90px}
.btn_view_more:hover ,.btn_view_more1:hover{background:#000;padding-left:27px;}
.block-col-footer{}
.block-col-footer h3.title_footer{margin-top:0px;width:100%;}
.block-col-footer h3.title_footer span{color:#777777;font-size:36px;text-transform:uppercase;padding-right:15px;padding-left:5px;}
.q-news-view{padding-left:0px;padding-right:5px;font-size:12px;}
.q-news-view h3{margin:6px 0px;font-size:12px;font-weight:bold;color:#525252;text-transform:uppercase;line-height:1.3em;}
.q-news-view span{}
.q-news-view img{width:100%;}
.list-new_footer{}
.list-new_footer li{display:block;float:left;margin-bottom:10px;width:100%;border-bottom:1px dashed #ccc;padding:5px 0px;}
.list-new_footer .img_news-list{padding:0px;padding-left:10px;padding-left:0px;}
.list-new_footer .name_news_list{padding:0px;padding-left:10px;font-size:12px;}
.list-new_footer img{width:100%;}
.list-new_footer h3{font-size:14px;margin:0px;line-height:1.3em;text-transform:uppercase;font-weight:bold;color:#f00;}
.list-support{float:LEFT;margin-left:22px;}
.list-support li{list-style-type:disc;margin-left:0px;margin-bottom:5px;}
.list-support li a{color:#fff;display:block;width:100%;}
#owl-gallery{position:relative;padding:0px 20px;width:100%;float:left;}
#owl-gallery .item{margin:5px;}
#owl-gallery .item img{width:100%;cursor:pointer;}
.img_view{width:100%}
.img_view{display:none}
.main-partner{background:#cdffe2;}
.block_doitac{background:#cdffe2;padding-top:11px;}
.block_doitac h3.title_doitac{margin:0px;}
.block_doitac h3.title_doitac span{background:url(../images/bg_title_doitac.png) bottom center no-repeat;min-width:200px;display:block;text-align:center;height:38px;line-height:35px;font-size:24px;text-transform:uppercase;color:#f4b735;margin:0px auto;font-weight:bold;}
.title_thietke_index{text-align:center;font-size:24px;margin:15px 0px;color:#f4b735;font-weight:bold;background:url(../images/bg_title_gallery.png) bottom center no-repeat;padding-bottom:20px;}
.list_gallery{text-align:center;margin-bottom:11px;}
.list_gallery li{display:inline-block;padding:5px 8px;background:#ccc;border-radius:3px;transition:all 0.5s;margin-right:6px;}
.list_gallery li a{font-size:15px;text-transform:uppercase;color:#3d3d3d;padding:3px 10px;display:block;}
.list_gallery li:hover{background:#C59527;}
.list_gallery li:hover a{color:#fff}
.item-gallery{padding:0px;position:relative;}
.main-gallery{width:100%;padding:20px 0px;margin:0 auto;}
.item-gallery h2{transition:all 0.5s;margin:0px;font-size:14px;text-align:center;background:#00903d;color:#fff;padding:8px 5px;position:absolute;width:100%;bottom:0px;opacity:0;}
.item-gallery:hover h2{opacity:1;}
.item-gallery img{width:100%}
.title_album{width:100%;text-align:center;margin:0px;margin-bottom:15px;}
.title_album span{font-size:24px;color:#00903d;font-weight:bold;text-transform:uppercase;background:url(../images/bg_title_album.png) bottom center no-repeat;padding-bottom:10px;min-width:210px;display:block;}
#owl-demo-doitac{padding:9px 20px;position:relative;}
.title_footer{padding-left:0px;float:left;width:100%;font-weight:normal;font-size:22px;margin-top:18px;text-transform:uppercase;font-family:arial;margin-bottom:23px;color:#fff;}
#footer{background:#000000;color:#fff;position:relative;}
#footer .container{background:none}
#footer .container .content-footer{color:#fff;padding-top:22px;}
.block_news_footer{padding:0px;}
.col-news-hot1{}
.col-news-hot1 input{width:47%;margin:5px;border:1px solid #ccc;padding:7px;border-radius:3px;color:#000;margin-bottom:5px;}
.col-news-hot1 textarea{border:1px solid #ccc;margin:5px;border-radius:2px;width:97%;min-height:193px;color:#000;}
.col-news-hot1 button{background:#71B100;border:none;padding:5px 16px;float:right;margin-right:12px;border-radius:3px;}
.list_gallery_item{float:left;width:100%;text-align:center;padding:14px 10px;}
.list_gallery_item li:hover , .active_tab{background:#c59526 !important;}
.list_gallery_item li:hover a, .active_tab a{color:#fff !important;}
.list_gallery_item li{display:inline-block;padding:6px 26px;background:#e9e9e9;border-radius:3px;cursor:pointer;transition:all 0.5s;}
.list_gallery_item li a{font-size:15px;color:#3d3d3d;}
.col-news-hot{background:#fff;color:#000;}
.col-news-hot .title_footer{margin:0px;color:#00903d;font-weight:normal;font-size:24px;margin-bottom:10px;}
.col-news-hot1 .title_footer{margin:0px;color:#00903d;font-weight:normal;font-size:24px;margin-bottom:10px;}
.item_newsf1{padding-left:0px}
.item_newsf2{padding-right:0px}
.col-news-hot div span{font-size:13px;padding-bottom:10px;display:block;}
.col-news-hot div span.icon_cal{margin-bottom:3px;padding-bottom:0px;background-position:1px 2px;margin-top:7px;}
.col-news-hot h3{font-size:16px;color:#000;margin-top:12px;margin-bottom:10px;}
.view_more{position:absolute;background:#71b100;padding:5px 10px;bottom:-41px;right:0px;color:#fff !important;text-transform:uppercase;border-radius:2px;}
.line_footer{background:#0F7102 url(../images/bg_line_footer.png) top center no-repeat;display:block;text-align:center;padding:9px 0px;color:#fff;font-family:'Roboto Condensed';font-size:17px;text-transform:uppercase;position:relative;}
.line_footer:after{content:'';width:57px;background:url(../images/arrow_footer2.png) top center no-repeat;height:51px;position:absolute;top:-13px;right:-20px;}
.line_footer:before{content:'';width:69px;background:url(../images/arrow_footer.png) top center no-repeat;height:51px;position:absolute;top:-13px;left:-20px;}
.line_footer span{background:#0F7102;padding:5px;}
.content-footer1{margin-bottom:15px}
.copyright{color:#A09D9D;padding-top:8px;padding-bottom:6px;border-top:1px solid;text-align:center;}
.copyright .container{background:none;text-align:center;}
.col-item-footer{margin-bottom:15px;}
.block-register-email{}
.block-register-email input{background:#444444;border:none;padding:5px;outline:none;}
.block-register-email button{background:#b00404;border:none;margin-left:-4px;padding:5px 16px;text-transform:uppercase;}
.block-register-email{margin-top:10px}
.col-item-footer h3{margin-top:0px;font-size:22px;text-transform:uppercase;font-weight:normal;margin-bottom:5px;}
.list-footer{}
.list-footer li{background:url(../images/arrow_footer.png)left 5px no-repeat;padding-left:15px;margin-bottom:9px;}
.list-footer li a{color:#fff;}
.block_content_f{text-align:left;padding:5px;color:#808080;}
.list-social{margin-top:4px;margin-bottom:11px;padding-top:25px;}
.list-social li{padding-left:12px;margin-bottom:10px;float:left;}
.list-social li h3{float:left;color:#808080;font-size:16px;margin-top:8px;margin-left:12px;}
.list-social li:hover img{transform:rotate(-360deg);}
.list-social li img{float:LEFT;transition:all 0.5s;}
.title-contnet-right{padding:6px 5px;border-bottom:1px solid #ccc;margin-bottom:12px;padding-top:10px;margin-left:5px;}
.title-contnet-right a{}
.title-contnet-right span{}
.title-contnet-right a i{color:#000;}
.title-page{font-size:30px;color:#686868;margin-top:0px;margin-bottom:5px;}
.block-col-right1{padding-right:0px}
.content-right-detail{width:100%;border:1px solid #eeeeee;margin-top:16px;border-radius:3px 3px 0px 0px;margin-bottom:15px;}
.item-img-member{padding:4px;}
.title-right-detail >span{display:block;padding:7px;margin-bottom:9px;}
.title-right-detail{background:#eeeeee;}
.title-right-detail ul{margin-left:5px;}
.title-right-detail ul li{display:inline-block;padding:5px 13px;margin-left:4px;margin-top:9px;background:url(../images/bg_li_tab1.png);border:1px solid #ccc;border-radius:5px 5px 0px 0px;border-bottom:0px;}
.title-right-detail ul li a{}
.list-news-hot-right{margin-top:10px;float:left;}
.list-news-hot-right li{padding:5px 5px;font-size:13px;font-weight:bold;float:left;padding-top:0px;width:100%;}
.list-news-hot-right li:last-child a{border:none}
.list-news-hot-right li a{border-bottom:1px dashed #ccc;display:block;padding-bottom:4px;float:left;width:82%;}
.list-news-hot-right li span{float:left;border:1px solid #ccc;width:30px;height:30px;border-radius:50%;text-align:center;line-height:30px;margin-right:10px;}
.title-right-order{border-bottom:1px solid #ccc;float:left;width:100%;margin-top:10px;font-size:24px;font-weight:normal;padding:5px;color:#00903d;border-radius:6px 6px 0px 0px;font-weight:bold;padding-left:0px;}
.img-detail-slider{width:85%}
.img-detail-slider .owl-prev{display:none !important}
.owl-item{max-width:100%;}
.logo-top-m{display:none}
.logo-top{display:block;padding:0px;margin:0px;}
.block-content-duan{padding:0px;}
.name-news{font-size:14px;margin:0px;font-weight:bold;margin-bottom:11px;color:#3f6518;margin-top:initial;}
.block-duan{padding:10px;text-align:justify;}
.block-duan img{width:100%;}
.block-duan a{}
.block-duan a h3{font-size:18px;color:#3f6518;margin:8px 0px;}
.block-duan div.desc_duan{}
.block-product{padding:5px 10px;margin-bottom:6px;}
.price{color:#f00;margin-left:15px}
.price >span{color:#000}
.content-products-item{width:100%;text-align:center;}
.content-products-item span{display:block;text-align:left;}
.block-product a img{padding:4px;}
.btn_detail{background:#59A7E9;padding:5px;color:#fff;padding:5px 23px;border-radius:6px;}
.block-product a h3{margin:0px;font-size:16px;margin-top:4px;height:34px;margin-bottom:0px;overflow:hidden;text-align:center;color:#4d4d4d;font-weight:normal;text-transform:uppercase;padding:7px 7px;box-sizing:border-box;vertical-align:middle;display:inline-block;vertical-align:middle;line-height:normal;width:100%;font-family:'Roboto Condensed';}
.frame_images{margin-right:15px;}
.block_mota_duan{padding-left:10px;padding-right:0px}
.block-frm-contact{}
.block-frm-contact p{float:LEFT;width:100%;margin-bottom:5px;text-align:center;}
.block-frm-contact label{font-weight:normal;color:#333333;width:82px;display:none;}
.block-frm-contact input{width:100%;border:1px solid #ccc;padding:4px 5px;border-radius:3px;}
.block-frm-contact textarea{width:100%;padding:5px;border:1px solid #ccc;border-radius:3px;height:131px;}
.block-frm-contact button{background:#022d64;color:#fff;font-size:14px;font-weight:normal;border:none;padding:7px 18px;text-transform:uppercase;border-bottom:2px solid #805B08;margin:0px auto;}
.phantrang{width:100%;text-align:center;float:left;}
.phantrang span{padding:4px 11px;background:#773A06;color:#fff;}
.phantrang a{padding:4px 11px;background:#AD601F;color:#fff;}
.item-news{float:left;margin-bottom:15px;padding-bottom:4px;padding:15px;}
.icon_cal{background:url(../images/icon_ca.png) top left no-repeat;padding-left:18px;font-size:13px;}
.item-news:last-child{border:none}
.item-news .img-news{border:1px solid #ccc;}
.item-news .title-news{font-size:18px;margin:0px;margin-bottom:5px;color:#5f5f66;margin-top:10px;padding:0px 12px;height:35px;overflow:hidden;}
.item-news span.desciption{display:block;height:102px;overflow:hidden;padding:3px 12px;font-size:13px;}
.view-more{color:#369043 !important;padding:4px 20px;border-radius:18px;float:right;margin-top:6px;font-weight:bold;border:1px solid #ccc;font-weight:normal;transition:all 0.5s;}
.view-more:hover{background:#8fc843;color:#fff !important;}
.list-news-order{float:left;width:100%;}
.list-news-order li{background:url(../images/arrow_news.png) left center no-repeat;padding-left:19px;margin-left:0px;margin-top:15px;}
.row10{margin-left:-10px;margin-right:-10px;}
.list-news-order li a{color:#00903d;display:block;width:100%;font-size:16px;}
.gia_detail{color:#FF0000;}
.khung_thongtin{padding-left:10px;}
.khung_thongtin li b{font-weight:normal}
.khung_thongtin li{margin:5px 0px;}
.khung_thongtin li h1{font-size:16px;font-weight:bold;margin:0px;margin-bottom:5px;color:#2886BB;}
.selectors{margin-top:15px}
.khung_thongtin li.btn_muangay{margin:15px 0px;display:none;}
.mota_detail{display:block;margin:10px 0px;margin-top:0px;}
.block_mota_duan{padding-left:10px;padding-right:0px;}
#owl-doitac .item{margin:5px}
#owl-doitac .item img{margin-bottom:10px}
.btn_m{display:none;}
.list-data{width:100%}
.list-data li.list-header{font-size:16px;color:#2079c4;}
.list-data li >span{display:block;padding:0px 0px;padding-right:20px;text-align:justify;}
.list-data li{border-bottom:1px solid #ccc;float:left;width:100%;padding:8px 0px;}
.list-data li strong{padding-right:10px;display:block;font-size:13px;}
.list-data li:last-child{border:none;}
.btn_download{display:block;text-align:center;}
.btn_download span{font-size:13px;font-weight:bold;color:#59a7e9;text-decoration:underline;}
.list-news{padding:0;}
.list-news li{float:left;border-bottom:1px dashed #ccc;padding:17px 0px;width:100%;}
.view-more-left{background:#ffc000;padding:7px 11px;color:#3d3d3d !important;font-size:18px}
.list-news li:last-child{border:none;}
.list-news li img{float:left;margin-right:10px;}
.list-news li h3{margin:0px;font-size:16px;padding:0px;display:block;color:#373736;line-height:inherit;}
.list-news li span{font-size:13px}
.view-more-left{float:left;margin-bottom:10px}
#muangay{display:none;}
.block-frm-dangky h3{color:#7dbf13;font-size:18px;font-weight:bold;text-transform:uppercase;width:100%;border-bottom:1px solid;padding-bottom:5px;padding-top:0px;margin-top:0px;}
.block-frm-dangky label{font-weight:normal;float:LEFT;margin:0px;width:108px;}
.block-frm-dangky input{width:320px;border:1px solid #ccc;padding:2px 7px;margin:3px 0px;}
.block-frm-dangky textarea{width:365px;border:1px solid #ccc;height:101px;}
.block-frm-dangky button{display:none}
.title_detail_news{text-transform:initial;font-size:22px;background:none !important;border-bottom:1px solid #b78617;padding-bottom:4px !important;text-align:left;}
.title_detail_news h1{font-size:22px;}
.btn_list_menu{width:100%;background:#4BAE4F;color:#fff;float:left;}
.btn_list_menu span{text-transform:uppercase;float:right;font-size:19px;margin-top:-3px;margin-bottom:8px;cursor:pointer;}
.btn_list_menu span i{color:#fff;font-size:20px;font-weight:normal;margin-top:5px;margin-right:10px;padding:4px;}
.btn_list_menu{display:none}
.resp-tabs-list li{padding:7px 49px;}
.back-top{position:fixed;bottom:50px;cursor:pointer;right:10px;width:35px;height:35px;background:#6B6A6A;z-index:999;text-align:center;line-height:35px;display:block;color:#fff;font-size:21px;display:none;border-radius:5px;}
.back-top i{margin-top:8px;font-size:19px;}
.mail-to{bottom:12px;}

.block_line_top{padding:10px 0px;background:#2a2a2a;color:#fff;border-bottom:1px solid #fff;}
.list_line_top{text-align:right;}
.list_line_top li{display:inline-block;padding:0px 13px;}
.list_line_top li img{margin-right:9px;}
.list_line_top li a{}
.list_line_top li strong{color:#fff;font-style:italic;}
.list_line_top li span{color:#fff;}

.block-banner{ display:none;}
li.logo_home{padding:0px !important}
li.logo_home a{padding:0px !important}


@media (max-width:1024px){.item_register{padding:10px}
.top-menu div >ul>li>a{padding:6px 26px;}
.btn_download span{display:block;float:left;width:100%;}
.top-menu div >ul>li>a{}
.menu_in >div > ul>li >a{ padding: 38px 9px;
    font-size: 13px;;}	
.menu_in div >ul>li >ul{ top:96px !important}
.title_footer{font-size:20px}
.top-menu div >ul>li >ul{top:33px;}
.col-item-footer h3{margin-top:20px}
.item-news .title-news{font-size:12px;height:31px}
.resp-tabs-list li{padding:7px 37px;}
.container{padding:0px;}
.block-register-email input{width:160px}
.block-register-email button{padding:5px}
}
@media (max-width:1000px){.list-news-hot-right li a{width:88%;}
.btn_video{top:-91px;bottom:initial}
.block_bg_white{padding:10px}
.menu_mIndex{display:block !important}
.btn_list_menu{display:block}
.top-menu div >ul>li >ul{position:initial;width:100%;}
.top-menu div >ul>li>a{display:block;width:100%;color:#fff !important;}
.menu_m{display:none;}
.sub_menu{color:#fff;border-bottom:1px solid #ccc;cursor:pointer;}
.sub_menu a{color:#fff !important}
.sub_menu li{float:left;width:100%}
.top-menu div >ul>li{width:100%}
.top-menu div >ul>li:before{display:none}
.top-menu div >ul>li:hover ul{display:none}
.line_footer:after{content:;display:none;width:57px;background:url(../images/arrow_footer2.png) top center no-repeat;height:51px;position:absolute;top:-13px;right:-20px;}
.line_footer:before{content:;display:none;width:69px;background:url(../images/arrow_footer.png) top center no-repeat;height:51px;position:absolute;top:-13px;left:-20px;}
.img-detail-slider{width:100%}
.top-menu{display:none;}
.logo-top-m{display:block}
.logo-top{display:none}
.btn_m{display:block;}
.content-right{padding:10px;}
.block-item .content-item h3.name-video{opacity:1;}

.block-banner{ display:block}

}
@media (max-width:800px){.block_slider_fix{position:initial;background:#EEE;}
.img-about{display:none}
.block-register-email input{width:205px;}
.title_thietke_index{font-size:18px;margin:10px 0px;}
.block_about_index{padding:20px 10px}
.title_register-top{font-size:15px;padding:6px 15px;}
.block_index{padding:0px 10px}
#owl-demo-doitac .owl-prev{left:0px}
#owl-demo-doitac .owl-next{right:0px}
.title-right span{font-size:15px}
.col-news-hot{padding:0px}
.col-news-hot1{padding:0px}
.main-gallery{padding:10px;}
.view_more{position:initial;padding:6px 12px;float:right;}
.block-holine{position:absolute;top:53px;}
.block-menu-left{padding:0px;background:#fff;margin-bottom:-8px;}
.content-left{padding:0px 10px;width:100%}
.block-content-duan{margin:0px;padding:0px}
.img-qc{display:none}
.block-search{top:initial;bottom:2px;}
#header{}
#header .container{}
.block-quangcao-top h3{font-size:14px}
.row10{margin-left:0px;margin-right:0px;}
.img-quangcao-left{}
.block-slider{background:#fff;margin-bottom:-3px;}
.frmthongtincahme .list_infoc li span{display:none}
.item_number_about .number{font-size:25px;line-height:25px;}
.item_number_about .name_num{font-size:14px}
}
.block_mota_duan{padding:0px;margin-top:10px;margin-bottom:10px;}
@media (max-width:600px){.list-news-hot-right li span{display:none}
.list-news-hot-right li a{width:100%}
.img-qc{display:block}
.block-quangcao-item{padding:0px}
.block-slider-main{padding:5px 0px;padding-bottom:8px;}
.socsial_ds{display:none}
.content-footer{padding:10px}
.thongke h3{text-align:left}
.item-gallery{padding:5px}
.item-gallery h2{position:inherit;opacity:1;margin-bottom:10px}
}
@media (max-width:450px){.block-col-footer{margin-bottom:10px;border:none}
.block-search{position:initial;margin-bottom:10px}
.block-search form{position:relative}
.block-search input{width:100%;box-sizing:border-box;}
.block-search button{position:absolute;top:4px;right:12px;}
.block-holine{bottom:0px;position:inherit;height:29px;width:100%;text-align:center;font-size:24px;}
.ul-dk-thanh-vien .right >input{}
.ul-dk-thanh-vien{margin:0px}
.img_camera{padding:0px;margin-bottom:10px}
.list_infoc{width:100%}
.frmthongtincahme{width:100%}
.frmthongtincahme .list_infom li{text-align:center !important;}
.frmthongtincahme li{width:100%;text-align:left !important;}
.frmthongtincahme li input{width:100%}
.container{padding:0px;}
.item_newsf2{padding:0px}
.col-news-hot1{margin-top:10px}
.col-news-hot1 input{width:100%;margin:0px;margin-bottom:5px;}
.col-news-hot1 textarea{min-height:100px;width:100%;margin:0px;}
.frmthongtincahme .list_infom{width:100%;margin:0px}
.btn-dang-ky{margin:0px;margin-top:10px}
.item_newsf1{padding:0px}
.item_newsf1 img{width:100%}
.content-left{padding:10px}
.cascade-slider_arrow{bottom:-14px !important;}
.cascade-slider_arrow-left{left:36% !important;}
.cascade-slider_arrow-right{right:38% !important;}
.block_about_index{padding:20px 10px}
.title_about_index{font-size:18px}
.block_slider_about{margin:5px auto;margin-bottom:20px}
.list_gallery{}
.list_gallery li{width:100%;border-radius:0px;margin:0px;border-bottom:1px solid #fff;}
}
@media (max-width:380px){.list-data li.list-header{text-align:center}
.content-download{display:none}
.desc_about{padding:0px}
.btn_m{right:0px;top:2px;position:fixed;}
}