 

.cascade-slider_container {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1;
}

.cascade-slider_item.next {
  left: 50%;
  transform: translateY(-50%) translateX(-134%) scale(0.6);
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.prev {
  left: 50%;
  transform: translateY(-50%) translateX(38%) scale(0.6);
  opacity: 1;
  z-index: 1;
}
.cascade-slider_item img{border-radius: 100%;width: 100%;height: 100%;background-color: #fff;padding: 5px;}
.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  opacity: 1;
  z-index: 5;
}
.cascade-slider_arrow  img{ background:none;width: 22px;padding: 5px;}
.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  bottom: -78%;
  cursor: pointer;
  z-index: 5;
}

.cascade-slider_arrow-left i{width: 23px;height: 9px;font-size: 20px;background: #ccc;color: #fff;}

.cascade-slider_arrow-left {left: 47%;}

.cascade-slider_arrow-right {right: 47%;}

.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover { background: #555; }

.cascade-slider_dot.cur { background: #555; }
