.owl-theme .owl-controls{margin-top:10px;text-align:center;}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;*
display:inline;width:37px;height:61px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;filter:Alpha(Opacity=50);opacity:1;text-indent:-146px;overflow:hidden;border-radius:0px;}
.owl-theme .owl-controls .owl-buttons div.owl-prev{position:absolute;top:30%;left:-17px;background:url(../images/arrows1.png) top center no-repeat;}
.owl-theme .owl-controls .owl-buttons div.owl-next{position:absolute;top:30%;right:-20px;background:url(../images/arrows2.png) top center no-repeat;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none;}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline;}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:0.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1;}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) no-repeat center center}